<div class="w3-bar w3-black">
<a routerLink="/home" class="w3-bar-item w3-button w3-teal">HOMEPAGE</a>
<div class="w3-dropdown-hover">
  <button class="w3-button">SIGHTS</button>
  <div class="w3-dropdown-content w3-bar-block">
    <a routerLink="/geography" class="w3-bar-item w3-button">Geography/Location</a>
    <a routerLink="/landmarks" class="w3-bar-item w3-button">Landmarks</a>
    <a routerLink="/activities" class="w3-bar-item w3-button">Activities</a>
  </div>
</div>
<div class="w3-dropdown-hover">
  <button class="w3-button">COMMUNITY</button>
  <div class="w3-dropdown-content w3-bar-block">
    <a routerLink="/housing" class="w3-bar-item w3-button">Housing</a>
    <a routerLink="/demographics" class="w3-bar-item w3-button">Demographic</a>
  </div>
</div>
<div class="w3-dropdown-hover">
  <button class="w3-button">PLACES</button>
  <div class="w3-dropdown-content w3-bar-block">
    <a routerLink="/parks" class="w3-bar-item w3-button">Parks</a>
    <a routerLink="/schools" class="w3-bar-item w3-button">Schools</a>
    <a routerLink="/shopping-dining" class="w3-bar-item w3-button">Shopping & Dining</a>
  </div>
</div>
<a routerLink="/transportation" class="w3-bar-item w3-button w3-teal">TRANSPORTATION</a>
<a routerLink="/contact" class="w3-bar-item w3-button w3-teal">CONTACT US</a>
</div><!--closing div for nav-->
